.btn {
  display: inline-block;
  background: none;
  border: none;
  color: #fff;
  padding: 15px 30px;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  transition: box-shadow 0.1s ease-in-out;

  &:hover {
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.2);
  }

  &:focus {
    outline: none;
  }

  &--green {
    background-color: $color-secondary;
  }
  
  &--pink {
    background-color: $color-main ;
  }

  &--transparent {
    display: inline-flex;
    align-items: center;
    padding-left: 0;

    &:hover {
      box-shadow: none;
    }
  }
}
